.DS_Store
.Makefile.swp
*.o
*.a
*.obj
*.lib
tests/suites.c
tests/suites.h
tests/test
tests/test_*.h
contribs/lua-5.2.1/src/lua
contribs/lua-5.2.1/src/luac
contribs/luajit-2.0.0/src/host/buildvm_arch.h
contribs/luajit-2.0.0/src/libluajit.so
contribs/luajit-2.0.0/src/lj_bcdef.h
contribs/luajit-2.0.0/src/lua51.dll
contribs/luajit-2.0.0/src/lua51.exp
contribs/luajit-2.0.0/src/luajit.exe
contribs/luajit-2.0.0/src/*.so
contribs/makeheaders/makeheaders
contribs/sqlite-3.7.14.1/build/*
luajit
build/*
